{% extends "base.html" %}

{% block titleHead %}
<title>Creación Empleado</title>
{% endblock titleHead %}

{% block h1_titulo %}
    Creación de Empleado
{% endblock h1_titulo %}

{% block main %}
<form action={% url "empleadoNuevo" %} method="POST">
    {% csrf_token %}
    
    {% comment %} <p> Nombre: 
        <input type="text" name="nombre" placeholder="Nombre"> 
    </p>

    <p> Puesto: 
        <input type="text" name="puesto" placeholder="Puesto"> 
    </p>

    <p> Correo Electrónico: 
        <input type="text" name="cElectronico" placeholder="Correo Electrónico"> 
    </p> {% endcomment %}

    {{formulario}}
    
    <input type="submit" value="Enviar">

</form>
{% endblock main %}
